<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
    <%- include partials/menu.ejs %>

    <div class="container">
      <p class="head-quote">May we get what we want. May we get what we need, but never what we deserve.</p>

      <div class="row">
        <div class="col-lg-3">
          <div class="dep-container">
            <h3>Our Leaders</h3>
            <p>
              <img src="http://www.runeclan.com/images/ranks/1.png" alt="owner icon" /> Daeneris  
            </p>
            
            <p>
              <img src="http://www.runeclan.com/images/ranks/2.png" alt="depowner icon" /> Im Twiztid
            </p>

            <p>
              <img src="http://www.runeclan.com/images/ranks/2.png" alt="depowner icon" /> MK XLII
            </p>

            <p>
              <img src="http://www.runeclan.com/images/ranks/2.png" alt="depowner icon" /> Photons
            </p>

            <p>
              <img src="http://www.runeclan.com/images/ranks/2.png" alt="depowner icon" /> Madoshi
            </p>
          </div>

          <div class="clan-container">
            <h3>Clan Information</h3>
              <p>Clan Members: 109</p>
              <p>Citadel Tier: 7</p>
              <p>Home World: 9</p>

          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="clock-container">
              <div class="clock-timezone">
                <p class="clock-country">London/UK</p>
                <p>00:00</p>
              </div>

              <div class="clock-timezone">
                <p class="clock-country">New York/USA</p>
                <p>00:00</p>
              </div>

              <div class="clock-timezone">
                <p class="clock-country">California/USA</p>
                <p>00:00</p>
              </div>

              <div class="clock-timezone">
                <p class="clock-country">Sydney/AUS</p>
                <p>00:00</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="events-container">
              <h3>Events</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="news-container">
            <h3>Recent News</h3>

            <p>Happy Birthday PCN</p>
            <a href="#" target="_blank">Read more</a>

            <hr>

            <p>Enforcing clan rules<p>
            <a href="#" target="_blank">Read more</a>

            <hr>

            <p>DXPW Competition hosted by Bigm</p>
            <a href="#" target="_blank">Read more</a>

            <hr>

            <p>Ranking Changes</p>
            <a href="#" target="_blank">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
