body {
  background-color: #505e75 !important;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  position: relative;
  margin-top: 30px;
  padding: 10px;
  text-align:center;
  font-weight: 800;
  clear: both;
}

.clock-container {
  margin-top: 20px;
  color: white;
  background-color: #2c384c;
  border-radius: 10px;
}
.clock-timezone {
  display: inline-block;
  margin-left: 10px;
  padding: 20px;
  text-align: center;
  line-height: 11px;
}

.clock-country {
  font-weight: 800;
}

.dep-container {
  text-align: center;
  color: white;
  background-color: #2c384c;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.dep-container > p:hover {
  background-color: #505e75;
  border-radius: 10px;
  cursor: pointer;
  animation: fadein 0.8s;
  font-weight: 510;
}

@keyframes fadein {
  from {
    background-color: #2c384c;
  }
  
  to { 
    background-color: #505e75;
  }
}

.news-container {
  text-align: center;
  color: white;
  background-color: #2c384c;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.head-quote {
  font-style: italic;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.events-container {
  margin-top: 20px;
  color: white;
  background-color: #2c384c;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.clan-container {
  padding: 10px;
  border-radius: 10px;
  background-color: #2c384c;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.profile-container, .profile-events-container, .rs-api-container {
  color: white;
  background-color: #2c384c;
  padding: 10px 20px;
  border-radius: 10px;
  height: 200px;
  margin-top: 20px;
}

.rs-api-container {
  height: auto;
}

.profile-container > p, .profile-events-container > p, .rs-api-container > p{
  border-bottom: 1px solid white;
}

.table {
  color: white;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #343651 !important;
}

.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: #000;
}